<phpunit bootstrap="vendor/autoload.php" verbose="true" stopOnError="true" stopOnFailure="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="SocialNetwork">
            <directory>tests/src/SocialNetwork</directory>
        </testsuite>
    </testsuites>
</phpunit>
